.cart-window {
    display: flex;
    justify-content: center;
}

.cart-container {
    box-sizing: border-box;
    max-height: 80vh;
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
    min-width: 50%;
    box-shadow: 0 0 10px black;
    overflow: auto;
}

.cart-item-container {
    background-color: #E7D1A4;
    padding: 0 10px 10px 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.total-container {
    display: flex;
    justify-content: space-around;
}

#order-button {
    font-weight: bold;
    width: 10rem;
    border: 1px solid black;
    border-radius: 20px;
}

#order-button:hover {
    background-color: yellow;
}

#order-button:active {
    box-shadow: 0 0 10px black;
}